{
	"root": true,
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"react-app",
		"react-app/jest",
		"prettier",
		"plugin:react/recommended",
		"plugin:react/jsx-runtime",
		"plugin:jsx-a11y/recommended",
		"plugin:react-hooks/recommended"
	],
	"settings": {
		"import/resolver": {
			"node": {
				"moduleDirectory": ["node_modules", "src/"]
			}
		}
	},
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"impliedStrict": true
		},
		"ecmaVersion": 12
	},
	"plugins": ["prettier", "react", "react-hooks"],
	"rules": {
		"react/jsx-filename-extension": 0,
		"no-param-reassign": 0,
		"react/prop-types": 1,
		"react/require-default-props": 0,
		"react/no-array-index-key": 0,
		"react/jsx-props-no-spreading": 0,
		"react/forbid-prop-types": 0,
		"import/order": 0,
		"no-console": 0,
		"jsx-a11y/anchor-is-valid": 0,
		"prefer-destructuring": 0,
		"no-shadow": 0,
		"no-unused-vars": [
			1,
			{
				"ignoreRestSiblings": false
			}
		],
		"one-var": "off",
		"no-unused-expressions": "off",
		"no-plusplus": "off",
		"no-use-before-define": "off",
		"arrow-body-style": "off",
		"eqeqeq": "off",
		"prettier/prettier": [
			"warn",
			{
				"semi": false,
				"tabWidth": 4,
				"singleQuote": true,
				"printWidth": 150,
				"useTabs": true,
				"arrowParens": "always",
				"bracketSpacing": true,
				"htmlWhitespaceSensitivity": "css",
				"insertPragma": false,
				"jsxBracketSameLine": false,
				"jsxSingleQuote": false,
				"proseWrap": "preserve",
				"quoteProps": "as-needed",
				"requirePragma": false,
				"trailingComma": "all",
				"vueIndentScriptAndStyle": false
			}
		]
	}
}
